data/visual/VideoSumForRetailData.zip
data/visual/VideoSumForRetailData/clips_anno.json
data/visual/VideoSumForRetailData/clips/clip1.mp4
data/visual/VideoSumForRetailData/clips/clip2.mp4
data/visual/VideoSumForRetailData/clips/clip3.mp4
data/visual/VideoSumForRetailData/clips/clip4.mp4
data/visual/VideoSumForRetailData/clips/clip5.mp4
data/visual/VideoSumForRetailData/clips/clip6.mp4
data/visual/VideoSumForRetailData/clips/clip7.mp4
data/visual/VideoSumForRetailData/clips/clip8.mp4
data/visual/VideoSumForRetailData/clips/clip9.mp4
data/visual/VideoSumForRetailData/clips/clip10.mp4
data/visual/VideoSumForRetailData/clips/clip11.mp4
data/visual/VideoSumForRetailData/clips/clip12.mp4
data/visual/VideoSumForRetailData/clips/clip13.mp4
data/visual/VideoSumForRetailData/clips/clip14.mp4
data/visual/VideoSumForRetailData/clips/clip15.mp4
data/visual/VideoSumForRetailData/clips/clip16.mp4
data/visual/frames_from_clips/clip1.mp4_12.jpg
data/visual/frames_from_clips/clip1.mp4_24.jpg
data/visual/frames_from_clips/clip1.mp4_36.jpg
data/visual/frames_from_clips/clip1.mp4_48.jpg
data/visual/frames_from_clips/clip1.mp4_60.jpg
data/visual/frames_from_clips/clip1.mp4_72.jpg
data/visual/frames_from_clips/clip1.mp4_84.jpg
data/visual/frames_from_clips/clip1.mp4_96.jpg
data/visual/frames_from_clips/clip1.mp4_108.jpg
data/visual/frames_from_clips/clip1.mp4_120.jpg
data/visual/frames_from_clips/clip2.mp4_12.jpg
data/visual/frames_from_clips/clip2.mp4_24.jpg
data/visual/frames_from_clips/clip2.mp4_36.jpg
data/visual/frames_from_clips/clip2.mp4_48.jpg
data/visual/frames_from_clips/clip2.mp4_60.jpg
data/visual/frames_from_clips/clip2.mp4_72.jpg
data/visual/frames_from_clips/clip2.mp4_84.jpg
data/visual/frames_from_clips/clip2.mp4_96.jpg
data/visual/frames_from_clips/clip2.mp4_108.jpg
data/visual/frames_from_clips/clip2.mp4_120.jpg
data/visual/frames_from_clips/clip3.mp4_12.jpg
data/visual/frames_from_clips/clip3.mp4_24.jpg
data/visual/frames_from_clips/clip3.mp4_36.jpg
data/visual/frames_from_clips/clip3.mp4_48.jpg
data/visual/frames_from_clips/clip3.mp4_60.jpg
data/visual/frames_from_clips/clip3.mp4_72.jpg
data/visual/frames_from_clips/clip3.mp4_84.jpg
data/visual/frames_from_clips/clip3.mp4_96.jpg
data/visual/frames_from_clips/clip3.mp4_108.jpg
data/visual/frames_from_clips/clip3.mp4_120.jpg
data/visual/frames_from_clips/clip4.mp4_12.jpg
data/visual/frames_from_clips/clip4.mp4_24.jpg
data/visual/frames_from_clips/clip4.mp4_36.jpg
data/visual/frames_from_clips/clip4.mp4_48.jpg
data/visual/frames_from_clips/clip4.mp4_60.jpg
data/visual/frames_from_clips/clip4.mp4_72.jpg
data/visual/frames_from_clips/clip4.mp4_84.jpg
data/visual/frames_from_clips/clip4.mp4_96.jpg
data/visual/frames_from_clips/clip5.mp4_12.jpg
data/visual/frames_from_clips/clip5.mp4_24.jpg
data/visual/frames_from_clips/clip5.mp4_36.jpg
data/visual/frames_from_clips/clip5.mp4_48.jpg
data/visual/frames_from_clips/clip5.mp4_60.jpg
data/visual/frames_from_clips/clip5.mp4_72.jpg
data/visual/frames_from_clips/clip5.mp4_84.jpg
data/visual/frames_from_clips/clip5.mp4_96.jpg
data/visual/frames_from_clips/clip5.mp4_108.jpg
data/visual/frames_from_clips/clip5.mp4_120.jpg
data/visual/frames_from_clips/clip5.mp4_132.jpg
data/visual/frames_from_clips/clip5.mp4_144.jpg
data/visual/frames_from_clips/clip6.mp4_12.jpg
data/visual/frames_from_clips/clip6.mp4_24.jpg
data/visual/frames_from_clips/clip6.mp4_36.jpg
data/visual/frames_from_clips/clip6.mp4_48.jpg
data/visual/frames_from_clips/clip6.mp4_60.jpg
data/visual/frames_from_clips/clip6.mp4_72.jpg
data/visual/frames_from_clips/clip6.mp4_84.jpg
data/visual/frames_from_clips/clip6.mp4_96.jpg
data/visual/frames_from_clips/clip6.mp4_108.jpg
data/visual/frames_from_clips/clip6.mp4_120.jpg
data/visual/frames_from_clips/clip6.mp4_132.jpg
data/visual/frames_from_clips/clip6.mp4_144.jpg
data/visual/frames_from_clips/clip6.mp4_156.jpg
data/visual/frames_from_clips/clip6.mp4_168.jpg
data/visual/frames_from_clips/clip6.mp4_180.jpg
data/visual/frames_from_clips/clip7.mp4_12.jpg
data/visual/frames_from_clips/clip7.mp4_24.jpg
data/visual/frames_from_clips/clip7.mp4_36.jpg
data/visual/frames_from_clips/clip7.mp4_48.jpg
data/visual/frames_from_clips/clip7.mp4_60.jpg
data/visual/frames_from_clips/clip7.mp4_72.jpg
data/visual/frames_from_clips/clip7.mp4_84.jpg
data/visual/frames_from_clips/clip7.mp4_96.jpg
data/visual/frames_from_clips/clip7.mp4_108.jpg
data/visual/frames_from_clips/clip7.mp4_120.jpg
data/visual/frames_from_clips/clip8.mp4_12.jpg
data/visual/frames_from_clips/clip8.mp4_24.jpg
data/visual/frames_from_clips/clip8.mp4_36.jpg
data/visual/frames_from_clips/clip8.mp4_48.jpg
data/visual/frames_from_clips/clip8.mp4_60.jpg
data/visual/frames_from_clips/clip8.mp4_72.jpg
data/visual/frames_from_clips/clip8.mp4_84.jpg
data/visual/frames_from_clips/clip8.mp4_96.jpg
data/visual/frames_from_clips/clip8.mp4_108.jpg
data/visual/frames_from_clips/clip8.mp4_120.jpg
data/visual/frames_from_clips/clip9.mp4_12.jpg
data/visual/frames_from_clips/clip9.mp4_24.jpg
data/visual/frames_from_clips/clip9.mp4_36.jpg
data/visual/frames_from_clips/clip9.mp4_48.jpg
data/visual/frames_from_clips/clip9.mp4_60.jpg
data/visual/frames_from_clips/clip9.mp4_72.jpg
data/visual/frames_from_clips/clip9.mp4_84.jpg
data/visual/frames_from_clips/clip9.mp4_96.jpg
data/visual/frames_from_clips/clip9.mp4_108.jpg
data/visual/frames_from_clips/clip9.mp4_120.jpg
data/visual/frames_from_clips/clip9.mp4_132.jpg
data/visual/frames_from_clips/clip9.mp4_144.jpg
data/visual/frames_from_clips/clip9.mp4_156.jpg
data/visual/frames_from_clips/clip10.mp4_12.jpg
data/visual/frames_from_clips/clip10.mp4_24.jpg
data/visual/frames_from_clips/clip10.mp4_36.jpg
data/visual/frames_from_clips/clip10.mp4_48.jpg
data/visual/frames_from_clips/clip10.mp4_60.jpg
data/visual/frames_from_clips/clip10.mp4_72.jpg
data/visual/frames_from_clips/clip10.mp4_84.jpg
data/visual/frames_from_clips/clip10.mp4_96.jpg
data/visual/frames_from_clips/clip10.mp4_108.jpg
data/visual/frames_from_clips/clip10.mp4_120.jpg
data/visual/frames_from_clips/clip10.mp4_132.jpg
data/visual/frames_from_clips/clip10.mp4_144.jpg
data/visual/frames_from_clips/clip10.mp4_156.jpg
data/visual/frames_from_clips/clip11.mp4_12.jpg
data/visual/frames_from_clips/clip11.mp4_24.jpg
data/visual/frames_from_clips/clip11.mp4_36.jpg
data/visual/frames_from_clips/clip11.mp4_48.jpg
data/visual/frames_from_clips/clip11.mp4_60.jpg
data/visual/frames_from_clips/clip11.mp4_72.jpg
data/visual/frames_from_clips/clip11.mp4_84.jpg
data/visual/frames_from_clips/clip11.mp4_96.jpg
data/visual/frames_from_clips/clip11.mp4_108.jpg
data/visual/frames_from_clips/clip11.mp4_120.jpg
data/visual/frames_from_clips/clip11.mp4_132.jpg
data/visual/frames_from_clips/clip12.mp4_12.jpg
data/visual/frames_from_clips/clip12.mp4_24.jpg
data/visual/frames_from_clips/clip12.mp4_36.jpg
data/visual/frames_from_clips/clip12.mp4_48.jpg
data/visual/frames_from_clips/clip12.mp4_60.jpg
data/visual/frames_from_clips/clip12.mp4_72.jpg
data/visual/frames_from_clips/clip12.mp4_84.jpg
data/visual/frames_from_clips/clip12.mp4_96.jpg
data/visual/frames_from_clips/clip12.mp4_108.jpg
data/visual/frames_from_clips/clip12.mp4_120.jpg
data/visual/frames_from_clips/clip13.mp4_12.jpg
data/visual/frames_from_clips/clip13.mp4_24.jpg
data/visual/frames_from_clips/clip13.mp4_36.jpg
data/visual/frames_from_clips/clip13.mp4_48.jpg
data/visual/frames_from_clips/clip13.mp4_60.jpg
data/visual/frames_from_clips/clip13.mp4_72.jpg
data/visual/frames_from_clips/clip13.mp4_84.jpg
data/visual/frames_from_clips/clip13.mp4_96.jpg
data/visual/frames_from_clips/clip13.mp4_108.jpg
data/visual/frames_from_clips/clip13.mp4_120.jpg
data/visual/frames_from_clips/clip14.mp4_12.jpg
data/visual/frames_from_clips/clip14.mp4_24.jpg
data/visual/frames_from_clips/clip14.mp4_36.jpg
data/visual/frames_from_clips/clip14.mp4_48.jpg
data/visual/frames_from_clips/clip14.mp4_60.jpg
data/visual/frames_from_clips/clip14.mp4_72.jpg
data/visual/frames_from_clips/clip14.mp4_84.jpg
data/visual/frames_from_clips/clip14.mp4_96.jpg
data/visual/frames_from_clips/clip14.mp4_108.jpg
data/visual/frames_from_clips/clip14.mp4_120.jpg
data/visual/frames_from_clips/clip14.mp4_132.jpg
data/visual/frames_from_clips/clip15.mp4_12.jpg
data/visual/frames_from_clips/clip15.mp4_24.jpg
data/visual/frames_from_clips/clip15.mp4_36.jpg
data/visual/frames_from_clips/clip15.mp4_48.jpg
data/visual/frames_from_clips/clip15.mp4_60.jpg
data/visual/frames_from_clips/clip15.mp4_72.jpg
data/visual/frames_from_clips/clip15.mp4_84.jpg
data/visual/frames_from_clips/clip15.mp4_96.jpg
data/visual/frames_from_clips/clip15.mp4_108.jpg
data/visual/frames_from_clips/clip15.mp4_120.jpg
data/visual/frames_from_clips/clip16.mp4_12.jpg
data/visual/frames_from_clips/clip16.mp4_24.jpg
data/visual/frames_from_clips/clip16.mp4_36.jpg
data/visual/frames_from_clips/clip16.mp4_48.jpg
data/visual/frames_from_clips/clip16.mp4_60.jpg
data/visual/frames_from_clips/clip16.mp4_72.jpg
data/visual/frames_from_clips/clip16.mp4_84.jpg
data/visual/frames_from_clips/clip16.mp4_96.jpg
data/visual/frames_from_clips/clip16.mp4_108.jpg
data/visual/frames_from_clips/clip16.mp4_120.jpg
data/visual/frames_from_clips/sample.jpg
